atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

bundle.symlink

# TODO: Get rid of config dir
config.symlink/nvim/.netrwhist
git/gitconfig.local.symlink
tmp/
/cache/
ruby/gemrc.symlink

config.symlink/configstore/
config.symlink/heroku/
